* {
    margin: 0;
    padding: 0;
}
/* div {
    border: orange 1px solid;
} */
.kartu {
    border-radius: 10px;
    border: transparent;
}
.gambar:hover {
    transform: scale(1.1);
    border-radius: 10px;

}
.gambar {
    border-radius: 10px;
    transition: 350ms;
}
.gambaar1 {
    border-radius: 10px;
    overflow: hidden;
}

main {
    height: 100vh;
}
.container {
    max-width: 100%;
    /* margin: 35px 0 100px 0; */
    padding: 0 18px;
}
.left-header {
    justify-content: left;
}
.right-header {
    justify-content: right;
    display: flex;
    height: 35px;
    font-size: 14px;
}
.sections-menu{
    color: white;
    font-weight: 500;
    margin: 7px 5px;
    padding: 0px 5px;
    cursor: pointer;
}
.signup-btn {
    margin: 0px;
    font-size: 14px;
    opacity: 50%;
    font-weight: 500;
}
.signup-btn:hover {
    opacity: 80%;
}
.container-header ul img {
    width: 210px;
}
.title-box {
    text-align: center;
    height: 161px;
}
.title1{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 8px #a0a0a0;
    font-weight: bold;
    font-size: 48px;
}
.search-box {
    border: white;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    padding: 0px;
    height: 58px;
    width: 508px;
}
.search1 {
    margin-top: 20px;
    margin-right: 10px;
    font-size: 20px;
}
.inputsearch {
    border: transparent;
    margin-right: 70px;
    height: 55px;
    width: 368px;
}
.sectionbody {
    margin: 25px 300px;
}

.heda {
    font-size: 24px;
    padding-bottom: 15px;
}
.jumbotron2 {
    background-image: url(img/3-2.jpg);
    height: 350px;
    top: 0px;
    left: 0px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    margin: 0;
    border-radius: 0px;
}

.container-body {
    height: 100vh;
}








