* {
font-family: 'Cabin', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}
.container-side {
    display: flex;
    flex-direction: row;
}

.headfoot {
    color: aliceblue;
    background-color: grey;
    width: 100%;
    height: 100px;
}

.sidebar {
    color: black;
    background-color:silver;
    margin: 0%;
    width: 200px;
    height: 100%;
}

.content {
    color: black;
    background-color: wheat;
    width: 100%;
    height: 100%;
}