* {
    font-family: 'Varela Round', sans-serif;
    
}

.container {
    display: flex;
    flex-direction: column;
}
.container-side {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.headfoot {
    color: whitesmoke;
    background-color: #4a7337;
    padding: 10px;
    width: 100%;
    height: 100px;
}

.sidebar {
    color: black;
    background-color:#ddd48f;
    margin: 0%;
    padding: 10px;
    width: 200px;
    height: 100%;
}

.content {
    color: whitesmoke;
    background-color: #704012;
    padding: 10px;
    height: 100%;
}