*{
  margin: 0;
  padding: 0;
}
/* div{
  border: yellow 1px solid;
} */
.kartu{
  border-radius: 10px;
  overflow: hidden;
}
.gambar{
  transition: 700ms;
}
.gambar:hover{
  transform: scale(1.1);
  border-radius: 10px;

}
.gambaar1{
  border-radius: 10px;
  overflow: hidden;
}
.username:focus{
  outline: transparent;
}
.trailer{
  background-color: transparent;
  height: 500px;
  padding: 0;
}

.btn-order{
  width: 43px;
  height: 40px;
  background-color:whitesmoke;
  color: #5b0008;
  border: 1px solid #5b0008;
  transition: 200ms;
}

.btn-order:focus{
  outline-color: #5b0008;
}

.btn-order:hover{
  font-weight: bolder;
}

.btn-disble{
  width: 43px;
  height: 40px;
  background-color:#dc3545;
  color: #000000;
  border: 1px solid #5b0008;
}
.btn-pilih{
  color: whitesmoke;
  background-color: #5b0008d7;
  border: 1px solid whitesmoke;
  width: 43px;
  height: 40px;
}