* {
    margin: 0;
    padding: 0;
}
/* div {
    border: orange 1px solid;
} */
.kartu {
    border-radius: 10px;
}
.gambar:hover {
    transform: scale(1.1);
    border-radius: 10px;

}
.gambar {
    border-radius: 10px;
    transition: 700ms;
}
.gambaar1 {
    border-radius: 10px;
    overflow: hidden;
}
.username:focus{
  outline: transparent;
}

.trailer{
    background-color: transparent;
    height: 500px;
    padding: 0;
}



