*{
    padding: 0;
    margin: 0;
}
:root{
    --ukuran-font:16px;
    --latar-color:#0c1328;
    --tombol-color:#eb0e5b;
    --text-color:white;
}
body{
    font-family: 'Lato','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* div{
    border:1px solid yellow;
} */
/* header start */
.header-container{
    font-size: var(--ukuran-font);
    color: var(--text-color);
    background-color: transparent;
    padding: 20px 50px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.brand-container{
    margin-right:30px;

}
.menu-kontainer{
    padding-top: 12px;
    display: flex;
}
.menu{
    margin-right: 20px;
    font-weight: 100;
    transition: 700ms;
}
.menu:hover{
    color: var(--tombol-color);
    cursor: pointer;
}
.menu span{
    font-size: 12px;
}
.menukanan-kontainer{
    margin-left: auto;
    padding-top: 0px;
    display: flex;
}
.menukanan-kontainer .signin{
    margin-right: 20px;
    margin-top: 10px;
}
.menukanan-kontainer .get-played{
    border: 2.5px solid var(--tombol-color);
    width: 130px;
    font-size: 15px;
    border-radius: 25px;
    padding-top: 10px;
    /* padding-bottom: 0px; */
    padding-left: 25px;
    padding-right: 0px;
}
.menukanan-kontainer .get-played span {
    color: var(--tombol-color);
    font-size: 12px;
}
.bars-container{
    display: none;
}
.brand{
    height: 43px;
    width: 115px;
}
/* header end */




/* jumbotron1 start */
.jumbotron1-container{
    height: 120vh;
    background-color: var(--latar-color);
    padding-top: 88px;
    color: white;
}
.jumbotron1-component{
    padding-top: 90px;
}
.jumbotron1-textbig{
    text-align: center;
    font-family: 'Overpass','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 56px;
    font-weight: 1000;
}
.jumbotron1-textsecond{
    text-align: center;
    font-size: 24px;
    line-height: 38.4px;
}
.button-container{
    border: 2.5px solid var(--tombol-color);
    width: 130px;
    font-size: 18px;
    border-radius: 25px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
    margin-top: 10px;
    background-color: var(--tombol-color);
}
.jumbotron1-btn{
   display: flex;
   justify-content: center;
}
.image-container {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.image-container .image-component {
    height: 575px;
    width: 750px;
    z-index: 1;
}
/* jumbotron1 end */
.jumbotron2-container {
    height: 800px;
  }


















/* for tablet stasrt */
@media only screen and (max-width:1200px){
    .menu-kontainer{
        display: none;
    }
    .brand{
        height: 35px;
        width: 90px;
    }
    .header-container{
        padding: 10px 40px;
    
    }
    .bars-container{
        display: block;
        margin-left: auto;
        margin-top: 7px;
        font-size: 20px;
    }
    .menukanan-kontainer{
        display: none;
    }
}
/* for tablet end */
